@{
    ViewData["Title"] = "Profile";
}
@model PlayerProfile

<style>
    .puttoleft {
        float: left;
    }

    .puttoright {
        float: right;
    }

    #itemsList {
        overflow-y: scroll;
    }

    .profilitem {
        background-color: #f9f9f9;
        height: 9vmin;
        width: 9vmin;
        text-align: center;
        padding-left: auto;
        margin: auto;
    }

    .selecteditem {
        border: solid;
        border-color: #0026ff;
        border-width: 2px;
    }

    .profilcol {
        background-color: #e3e3e3;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        border-radius: 5px;
        margin: 5px;
        height: auto;
    }

    .row-eq-height {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
</style>
<script>
    var listOfItems = [];
    var elementId = 0;
    var tempItem = {};
</script>
<form asp-area="" asp-controller="Profile" asp-action="Index" method="post" id="profileForm">

</form>
<div class="row">
    <div class="col-md-12">
        <h1>Profile of @Model.Pseudo</h1>
    </div>
</div>
<div class="row row-eq-height">
    <div id="itemsList" class="col-md-1 profilcol">
        @if (Model.SelectedItems != null && Model.AvailableItems != null)
        {
            foreach (PlayerItem item in Model.AvailableItems)
            {
                if (item.Item.Type == EItemType.Avatar) { continue; }

                if (Model.SelectedItems.ContainsKey(item.Item.Type) && Model.SelectedItems[item.Item.Type].Item.Id == item.Item.Id)
                {
                    string path = item.Item.ImageLink.ToString();
                    path = path.Insert(path.IndexOf('.'), "icon");
                    <img src=@(path) alt="Logo" id=@("item" + item.Item.Id) class="profilitem selecteditem" />
                    <script>
                        tempItem = {Id:@item.Item.Id, Type:"@(item.Item.Type)", Selected:true};
                    </script>
                }
                else
                {
                    var path = item.Item.ImageLink.ToString();
                    path = path.Insert(path.IndexOf('.'), "icon");
                    <img src=@(path) alt="Logo" id=@("item" + item.Item.Id) class="profilitem" />
                    <script>
                        tempItem = { Id:@item.Item.Id, Type:"@(item.Item.Type)", Selected:false };
                    </script>
                }
                <script>
                        listOfItems[@item.Item.Id] = tempItem;

                        $('@("#item"+item.Item.Id)').click(function () {
                            listOfItems[@item.Item.Id].Selected = true;
                                document.getElementById('@("item"+item.Item.Id)').classList.add('selecteditem');
                                listOfItems.forEach(function (element) {
                                    if (element.Id != @item.Item.Id && element.Type == listOfItems[@item.Item.Id].Type) {

                                        element.Selected = false;
                                        document.getElementById('item'+element.Id).classList.remove('selecteditem');
                                    }
                                });
                            console.log(listOfItems);
                        })
                </script>
            }

            <script>
                console.log(listOfItems);
            </script>

        }
    </div>
    <div id="avatar" class="col-md-4 profilcol">
        @await Html.PartialAsync("_AvatarPartial", Model)
    </div>
    <div id="info" class="col-md-6 profilcol">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2"><a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage" class="puttoleft navbar-brand">Account</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Title</td>
                    
                        

                <td>@Html.DropDownList("Titles", new SelectList(new SelectListItem[] { new SelectListItem() { Text = "Master" } }), "Noob", new { @id = "ddTilte" })</td>
                
                    
                </tr>
                <tr>
                    <td>Pseudo</td>
                    <td>@Model.Pseudo</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>@User.Identity.Name</td>
                </tr>
                <tr>
                    <td>MICoins</td>
                    <td>@Model.MICoins</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-11">
        <button id="savechangebutton" class="btn btn-primary puttoright">Save Changes</button>
        <script>
            $('#savechangebutton').click(function () { 
                var items = "";
                document.getElementById('ddTilte');
                var datavalue = JSON.stringify(listOfItems);
                $.ajax({
                    type: "POST",
                    url: "Profile/ChangeSelectedItem?param=" + datavalue,
                    contentType: "text/plain",
                }).done(function (resp) {
                    window.location.replace("Profile");
                }).error(function (err) {
                    window.location.replace("Profile");
                });
            });
        </script>
    </div>
</div>
