@model Project
@{
    ViewData["Title"] = "Index";
}

<style>
    .MLPMColumn {
        background-color: dimgrey;
        padding-bottom: 10px;
        border-radius: 3px 3px;
        min-height:100px;
    }

    .MLPMCard {
        background-color: lightgray;
        margin: 10px;
        padding: 5px;
        border-radius: 3px 3px;
    }

    .MLPMCardTitle {
        margin: 3px;
        padding: 2px;
        text-align: center;
        text-decoration: underline;
    }
    .MLPMBin{
        min-height:50px;
        border-radius: 3px 3px;
        background-color:red;
        margin:10px;
    }
    .MLPMCardDesc {
    }

    .MLPMColumnName {
        text-align: center;
    }
</style>
<script type="text/javascript">

    


    $(document).ready(function () {


        loadProducts();

        function moveCard(cardId, newColumnId, old, columnId, data) {
            //var divToBeWorkedOn = "#AjaxPlaceHolder";
            var webMethod = "/Project/MoveCard?CardId=" + cardId + "&NewColumnId=" + newColumnId;
            var parameters = "{'CardId':'" + cardId + "','NewColumnId':'" + newColumnId + "'}";

            $.ajax({
                type: "POST",
                url: webMethod,
                data: parameters,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    old.remove();
                    var lst = $(columnId);
                    //var li = "<li class=\"MLPMCard\" draggable=\"true\"><div class=\"MLPMCardTitle\">" + data.name + "</div><div class=\"MLPMCardDesc\">" + data.description + "</div></li>";
                    //li.textContent = foreach;
                    lst.append(data);
                    setEvents();
                },
                error: function (e) {
                    alert("Error : " + e.statusText)
                }
            });
        }

        ///Function to load products using call to WEB API
        function loadProducts() {
            var items = "";
            $.ajax({
                url: "Project/Columns/?projectId="+@Model.Id,
                type: "GET"
            }).done(function (resp) {
                $.each(resp, function (idx, val) {

                    $.each(val.cards, function (id, valu) {
                        items += "<li class=\"MLPMCard\" draggable=\"true\" customId=\""+ valu.id+"\" id=\"card"+valu.id+"\"><div class=\"MLPMCardTitle\">" + valu.name + "</div><div class=\"MLPMCardDesc\">" + valu.description + "</div></li>";
                    });
                    $("#" + val.name.replace(/\s/g, '')).html(items);
                    items = "";
                });
                setEvents();
            }).error(function (err) {
                alert("Error! " + err.status);
            });
        }
        //Function to set events for Drag-Drop
        function setEvents() {
            var lstCards = $('li');
            //Set Drag on Each 'li' in the list
            $.each(lstCards, function (idx, val) {
                $('li').off('dragstart');
                $('li').on('dragstart', function (evt) {
                    evt.originalEvent.dataTransfer.setData("Text", evt.target.outerHTML);
                    evt.originalEvent.dataTransfer.setData("Id", evt.target.getAttribute("customId"));
                    //evt.target.draggable = false;

                });
            });
            $('#bin').off('drop');
            $('#bin').on('drop', function (evt) {
                evt.preventDefault();
                var id = evt.originalEvent.dataTransfer.getData("Id");
                var old = $("#card" + id);
                var webMethod = "/Project/DeleteCard?CardId=" + id;
                var parameters = "{'CardId':'" + id + "'}";

                $.ajax({
                    type: "POST",
                    url: webMethod,
                    data: parameters,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        old.remove();
                    },
                    error: function (e) {
                        alert("Error");
                    }
                });
            });
            $("#bin").on('dragover');
            $("#bin").on('dragover', function (evt) {
                evt.preventDefault();
            });

            @foreach(var column in Model.Columns)
                    {
                     <text>
            //Set the Drop on the <div>
            $("#" + "@column.Name.Replace(" ","")").off('drop');
            $("#" + "@column.Name.Replace(" ","")").on('drop', function (evt) {
                evt.preventDefault();
                var data = evt.originalEvent.dataTransfer.getData("Text");
                var id = evt.originalEvent.dataTransfer.getData("Id");
                var old = $("#card" + id);
                moveCard(id,@column.Id,old,"#" + "@column.Name.Replace(" ","")",data);

            });
            //The dragover
            $("#" + "@column.Name.Replace(" ", "")").on('dragover', function (evt) {
                evt.preventDefault();
            });

                </text>
                    }

        }
    });
</script>
<h2>@Model.Name</h2>
<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <div class="MLPMBin" id="bin"></div>
    </div>
</div>

<div class="row">
    @if (Model == null)
    {
        <h3>No projects here</h3>
    }
    else
    {
        @foreach (var column in Model.Columns)
        {
            <div class="col-md-4">
                <div class="MLPMColumn">
                    <h3 class="MLPMColumnName">@column.Name</h3>
                    <ol id="@column.Name.Replace(" ","")" style="min-height:100px">
                        @*@foreach (var card in column.Cards.OrderBy(c => c.Order))
                                {
                                                <li class="MLPMCard" draggable="true">
                                                    <div class="MLPMCardTitle">
                                                        @card.Name
                                                    </div>
                                                    <div class="MLPMCardDesc">
                                                        @card.Description
                                                    </div>
                                                </li>
                            }*@
                    </ol>
                </div>
            </div>

        }
    }
</div>