@model StoreViewModel
@{
    ViewData["Title"] = "Index";
}
<style>
    .theClass{}
</style>
<h2>Store</h2>

<script>
    function CalculatePrice() {
        var price = 0.0;
        var nbr = 0;
        $.each($('.theClass:checkbox:checked'), function (idx, val) {
            //var input = $(this); 
            if (val.title != null && val.title != "null") {
                
                    price += Number(val.title);
                    nbr++;
                
            }
        });
        $('#price').html(nbr + " items for "+ price + " MICoins");

    }
</script>

@using (Html.BeginForm())
{
    
    <div class="row">
        <div class="col-md-6">
            <h3>Titles</h3>
            
                @foreach (var title in Model.StoreTitle.OrderBy(t => t.Price))
    {
                
                    @Html.CheckBox(expression: string.Format("{0} : {1} MICoins", title.Text, title.Price), isChecked: false, htmlAttributes: new { id = "title" + title.Id, style = "margin-right:5px",price=title.Price,title= title.Price,Class= "theClass" })
                    @Html.Label(string.Format("{0} : {1} MICoins", title.Text, title.Price))
                    <script>
                        $('#title' +@title.Id).change(function () {
                            CalculatePrice();
                            if (this.checked) {
                                
                            }
                            else {
                                
                            }

                        })
                    </script>
                <br/>
}
            
        </div>
        <div class="col-md-6">
            <h3>Avatar</h3>
            @foreach (var item in Model.StoreItems)
    {

        @Html.CheckBox(expression: string.Format("{0} : {1} MICoins", item.Name, item.Price), isChecked: false, htmlAttributes: new { id = "item" + item.Id, style = "margin-right:5px",price=item.Price, title = item.Price, Class = "theClass" })
        @Html.Label(string.Format("{0} : {1} MICoins", item.Name, item.Price))
        <script>
                        $('#item' +@item.Id).change(function () {
                            CalculatePrice();
                            if (this.checked) {

                            }
                            else {

                            }

                        })
        </script>
        <br />
}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Inventory</h3>
            <ul>
                @foreach (var item in Model.Profile.AvailableItems.OrderBy(i => i.Item.Type))
                {
                    <li>
                        @item.Item.Name
                    </li>
                }
                @foreach (var title in Model.Profile.AvailableTitles)
                {
                    <li>
                        @title.Title.Text
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Shopkeeper</h3>
            <h4>Price :</h4>
            <p class="text-warning" id="price"></p>
            <input type="submit" value="Buy">
        </div>
    </div>
}